<% include header %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
        <div class="container col-md-1">
        </div>
        <div class="container col-md-8">
          <h1>Welcome!</h1>
          <p>I'm currently a student at Northwest Missouri State University!
          Studying hard of course.</p>
        </div>
        <div class="container col-md-2">
            <img src="./img/face.jpg" class="img-circle img-responsive" alt="My Face">
        </div>
        <div class="container col-md-1">
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-md-4">
          <h2>Where I'm now</h2>
          <p>Hello everyone, I am currently a Junior working on my computer science degree. I have some experience with programming from high school but barely any experience with web-side applications and front-end design. I am currently interested in reverse engineering and exploitation.</p>
        </div>
        <div class="col-md-4">
            <h2>Where I was</h2>
            <p>My hometown is in Urumqi, China. I have a lot of experience working with software development and computationally interesting problems. Since I have just attended DefCon this summer, my main interests this year is in breaking things apart and understanding them.</p>
        </div>
        <div class="col-md-4">
          <h2>Where I will be</h2>
          <p>I'm not too sure about my plans for the future. Some of the ideas I have for the future are creating a "as-a-service" software and monetizing it; penetration testing consulting; and teaching software engineering.</p>
       </div>
      </div>

      <hr>

<% include footer%>