<% include header %>

<div class="container">

<div class="row">
    <div class="col-md-4">
        <iframe width="300" height="215" src="https://www.youtube-nocookie.com/embed/5aC4akD6RUk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="col-md-6">
        <img src="./img/bongo1.png" id="cat" class="img-responsive" alt="oh no where's bongo?">
    </div>

    <div class="col-md-2">
        <input type="button" value="BONG!" onclick="bong()" class="btn btn-primary">
    </div>
</div>
<hr>
</div>

<% include footer %>